.slider-buttons {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;

  div {
    width: 30px;
    height: 30px;
    border: 1px solid $base-errows;
    border-radius: 50%;
    @include flex-centered;
    cursor: pointer;

    &.button-prev {
      margin-right: 5px;
    }

    &.swiper-button-disabled {
      border-color: $sub-text;
      cursor: default;

      span {
        color: $sub-text;
      }
    }
  }

  span {
    color: $base-errows;
  }
}

button {
  cursor: pointer;
  border: 1px solid $base-button;
  background: none;
  padding: 10px 30px;
  border-radius: 30px;
  color: $base-button;
  outline: none;

  &:hover {
    background: $blue-line;
  }

  &.highlighted {
    background: $base-button;
    color: $white-bg;

    &:hover {
      color: $base-button;
      background: $white-bg;
    }
  }
}