.gallery-content {
  &-tab {
    display: grid;
    grid-template-columns: 260px auto;
    padding: 2.9rem 0 2.3rem;

    .info-box {
      .subtitle {
        display: inline-block;
        padding-right: .5rem;
        margin-bottom: 7.4rem;
      }

      &-link {
        font-size: .9rem;
        display: block;
        text-decoration: underline;
      }
    }

    .gallery-box {
      display: grid;
      grid-template-columns: 336px 300px 300px;
      grid-template-rows: 200px 200px;
      column-gap: 2px;
      row-gap: 2px;

      &-item {
        padding: 1.6rem 1rem;
        display: flex;
        align-items: flex-end;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
        }

        &:hover {
          &::after {
            background: rgba(0, 0, 0, .2);
          }
        }

        &.one {
          background: url(../img/gallery1.jpg);
          background-size: cover;
          grid-column: 1 / 3;
          grid-row: 1 / 3;
        }

        &.two {
          background: url(../img/gallery2.jpg);
          background-size: cover;
        }

        &.three {
          background: url(../img/gallery3.jpg);
          background-size: cover;
          align-items: center;
          justify-content: center;
        }
      }

      &-info {
        display: flex;
        align-items: center;
        color: $white-bg;
        font-size: .8rem;
        position: relative;
        z-index: 10;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: .8rem;
        }
      }

      &-button {
        position: relative;
        z-index: 10;
      }
    }
  }
}