* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts-container {
  background-color: #424D84;
  padding: 1.2rem .9rem .9rem .9rem;
  width: 443px;
  min-width: 443px;
  height: fit-content;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 6px 6px 12px rgba(77, 77, 77, 0.4);
}

.columns-tab {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 120px;

  .value {
    height: 100%;
    margin: 0 .7rem;

    &.active {
      .bar {
        background-color: #3398DC;
        opacity: 1;
      } 
    }

    &:nth-child(1) {
      .bar {
        height: 80%;
      }
    }

    &:nth-child(2) {
      .bar {
        height: 100%;
      }
    }

    &:nth-child(3) {
      .bar {
        height: 50%;
      }
    }

    &:nth-child(4) {
      .bar {
        height: 35%;
      }
    }

    &:nth-child(5) {
      .bar {
        height: 60%;
      }
    }

    &:nth-child(6) {
      .bar {
        height: 75%;
      }
    }

    &:nth-child(7) {
      .bar {
        height: 30%;
      }
    }

    &:nth-child(8) {
      .bar {
        height: 100%;
      }
    }

    &:nth-child(9) {
      .bar {
        height: 70%;
      }
    }

    &:nth-child(10) {
      .bar {
        height: 80%;
      }
    }
  }

  .bar {
    background-color: #fff;
    opacity: .6;
    width: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
  }

  .month {
    color: #fff;
    opacity: .6;
    margin-top: .5rem;
  }
}

.circle-tab {
  margin-top: 5rem;
  display: flex;

  .donut-chart {
    flex-shrink: 0;
    width: 130px;
    height: 130px;
    position: relative;
    margin-right: 1.9rem;

    .total {
      color: #fff;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      font-size: .81rem;
      line-height: 17px;
      width: 80%;
    }
  }

  .donut-info {
    padding: .6rem 2rem .6rem 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .gray {
      color: rgba(255, 255, 255, 0.6);
    }

    .light {
      color: #fff;
    }
  }
}