* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.modal-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #16a085;
}

.modal-content {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 465px;
    border-radius: 5px;
    background: url(img/bicycle.png) #fff no-repeat 0 180px;
    background-size: contain;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, .2);
}

.order-tab {
    width: 100%;
    padding: 40px 70px 0;
}

.order-summary {
    position: relative;
}

.order-summary p {
    margin-top: 20px;
    font-weight: 500;
    color: #a9adb4;
}

.order-summary .account-tab {
    width: 45px;
    height: 45px;
    background: url('img/account.svg') no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #a9adb4;
}

.order-summary .account-tab:hover {
    box-shadow: 0px 0px 0 5px whitesmoke;
}

.order-details {
    margin-top: 30px;
}

.order-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.2em;
}

.order-row span {
    font-weight: 500;
}

span.order-item {
    color: #5c5c5c;
}

span.order-price {
    color: #000;
}

.total span.order-item {
    text-transform: uppercase;
    font-weight: 700;
}
