.site-header {
    /* height: 50px; */
    /* background: rgba(174,234,228,0.5); */
}

.header-container {
    /* height: inherit; */
    padding: 1em 2em;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
    /* background: rgba(247,233,153, 0.5); */
}
