.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    width: calc(100% - 20px);
    margin-left: 2em;
}

.top-menu-list {
    display: flex;
    justify-content: space-between;
	@include list-style-clear;
}

.top-menu-item {
    margin-bottom: 0.6em;
}

.top-menu-link {
    display: inline-block;
    line-height: 1.6;
    position: relative;
    @include link-style-clear;
}

.top-menu-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #999;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.top-menu-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
