* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #c9f8fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-container {
  width: 1000px;
  background: #fff;
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles-cover {
  width: 450px;
  height: 570px;
  padding-left: 120px;
  background: url("img/background.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles-cover h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #fff;
}

.articles-cover p {
  color: #fff;
  margin-bottom: 20px;
}

.articles-cover button {
  border: none;
  background: rgba(106, 157, 139, 0.7);
  color: #fff;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.articles-cover button img {
  margin-right: 10px;
}

.articles-cover button:hover {
  background: #6a9d8b;
}

.articles-cover button:focus {
  outline: none;
}

.articles-tab {
  padding: 40px;
  position: relative;
}

.articles-tab h2 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.articles-tab .menu {
  position: absolute;
  top: 45px;
  right: 40px;
}

.articles-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 470px;
  overflow: hidden;
  margin-bottom: 40px;
}

.articles-list li {
  margin-right: 17px;
  position: relative;
}

.articles-list li:last-child:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  background: radial-gradient(circle, white 0%, rgba(255, 255, 255, 0.5) 100%);
  left: 0;
  top: 0;
}

.articles-list a {
  color: #c2c2c2;
  text-decoration: none;
  font-size: 1.3rem;
}

.articles-list a.active, .articles-list a:hover {
  color: #000;
}

.articles-content {
  display: none;
}

.articles-content.show {
  display: block;
}

.articles-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.articles-row:last-child {
  margin-bottom: 0;
}

.articles-text {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-text img {
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
}

.articles-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 40px;
}

.articles-time .date {
  font-size: 2.2em;
  font-weight: 100;
  margin-right: 10px;
}

.articles-time .month,
.articles-time .year {
  width: 50%;
  height: 50%;
}

.articles-time .month {
  font-weight: 500;
  text-transform: uppercase;
}
