.header-container,
.section-container {
    padding: 0 2em;
}

.blockquote {
    padding-left: 30px;
    line-height: 1.4;
    color: $darkgray;
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background: $darkgray;
        position: absolute;
        left: 0;
    }
}
