* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #2980b9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.films-container {
  display: flex;
  gap: 0 3.7rem;
  margin-top: -195px;
}

.film-tab {
  position: relative;
  text-align: center;
  
  img {
    width: 228px;
    box-shadow: 0 8px 11px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
  }

  .film-info {
    background: #fff;
    position: absolute;
    top: 20px;
    left: -20px;
    right: -20px;
    transform: scale(0);
    padding-top: 345px;
    border-radius: 5px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1;
    transition: transform .15s;

    h4 {
      font-size: 1.1rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .details {
      color: #777;
      font-size: .85rem;
      margin-top: .35rem;
    }

    .new-price {
      color: #2BCD77;
      font-weight: 500;
      font-size: 1.1rem;
      margin-top: 1.3rem;
    }

    .old-price {
      color: #999;
      font-weight: 500;
      font-size: .95rem;
      margin-top: 1px;
      text-decoration: line-through;
    }

    button {
      border: none;
      outline: none;
      width: 100%;
      text-transform: uppercase;
      background-color: #292929;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      color: #fff;
      font-size: .85rem;
      font-weight: 500;
      margin-top: 1.3rem;
      padding: 1.3rem 0;
      transition: background-color .1s;
    }
  }

  &:hover {
    .film-info {
      animation: bounce .4s backwards;
      transform: scale(1);
    }
  }
}