.features-box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28.2rem;
    padding: 7.9rem 1.8rem 4rem;

    .features-icon {
      font-size: 3.7rem;
      margin-bottom: 1.3rem;
    }

    .features-title {
      font-size: 1.5rem;
      margin-bottom: auto;
    }

    &:hover {
      background-color: $base-button;

      .features-icon {
        color: $regular-text;
      }

      .arrow-right {
        border-color: $regular-text;
      }
    }
  }
}