* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.modal-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('img/background.jpg') no-repeat center;
    background-size: cover;
}

.modal-content {
    width: 340px;
    height: 315px;
    border-radius: 5px;
    background: #fff;
}

.payment {
    display: flex;
    border: none;
}

.payment legend {
    display: inline-flex;
    width: 100%;
    height: 100px;
    position: relative;
}

.payment legend::after,
.payment .payment-choice::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #dedede;
    position: absolute;
    left: 0;
    bottom: 0;
}

.payment .payment-choice:last-child::after {
    display: none;
}

.payment legend h3 {
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500px;
    color: #333;
}

.payment .payment-choice {
    height: 55px;
    padding-left: 90px;
    position: relative;
    cursor: pointer;
}

.payment .payment-choice::before {
    content: "";
    display: block;
    width: 40px;
    height: 20px;
    background: #dedede;
    position: absolute;
    left: 34px;
    top: 20px;
}

.payment .payment-choice.visa::before {
    background: url('img/visa.svg') no-repeat center;
    background-size: cover;
    top: 18px;
}

.payment .payment-choice.mastercard::before {
    background: url('img/mastercard.svg') no-repeat center;
    background-size: cover;
    top: 18px;
}

.payment .payment-choice.maestro::before {
    background: url('img/maestro.svg') no-repeat center;
    background-size: cover;
    top: 18px;
}

.payment .payment-choice label {
    font-size: 14px;
    font-weight: 500;
    line-height: 55px;
    text-transform: uppercase;
    color: #aaa;
}

.payment .payment-choice.checked label {
    color: #000;
}

.payment .checked::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #dedede;
    position: absolute;
    left: auto;
    right: 20px;
    top: 20px;
}

.payment input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.form-container button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background: #598bdd;
    color: #fff;
}
