$white-bg: #fff;
$light-bg: #fafafa;

$regular-text: #323332;
$sub-text: #ababaa;
$highlighted: #ffe7b8;

$base-border: #f1f1f1;
$gray-border: #dedddd;
$base-icon: #999999;
$base-button: #ffc23f;
$button-hover: #d8a434;
