* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

h2 {
	font-size: 2em;
	color: #333;
}

a {
	text-decoration: none;
	color: #999;
}

button,
a.button {
	padding: 12px 15px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	background: #ea625c;
}

.section-container {
	padding: 0 2em;
}

.blockquote {
	padding-left: 30px;
	line-height: 1.4;
	color: #999;
	position: relative;
}

.blockquote::before {
	content: "";
	display: block;
	width: 2px;
	height: 100%;
	background: #999;
	position: absolute;
	left: 0;
}

.site-wrapper {
	position: relative;
}

section.main {
	height: 100vh;
	position: relative;
	z-index: 1;
}

header {
	position: absolute;
	top: 0;
	left: 0;
}

header .section-container {
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.logo {
	order: 1;
}

.search {
	order: 2;
}

.top-menu {
	width: 100%;
	margin-bottom: 0.5em;
	order: 3;
}

.top-menu ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.top-menu ul li {
	margin-bottom: 0.6em;
}

.top-menu ul li a {
	display: inline-block;
	line-height: 1.6;
	position: relative;
}

.top-menu ul li a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #999;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.top-menu ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.search input[type="text"] {
	line-height: 1.6;
	border: none;
	border-bottom: 1px solid #737373;
	background: none;
	outline: none;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	color: #000;
}

.search input[type="text"]:focus,
.search input[type="text"]:active {
	border-color: #000;
}

.search input::placeholder {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	color: #b2b2b2;
}

.main .section-container {
	padding-top: 27vh;
}

.main .blockquote {
	margin-top: 1em;
}

.main button {
	margin-top: 2em;
}

@media (min-width: 360px) {
	section.main {
		background: url(../img/watches.jpg) no-repeat;
		background-size: contain;
		background-position: 50vw 60vh;
	}
}

@media (min-width: 568px) {
	header {
		width: 100%;
	}
	.top-menu {
		width: 40%;
		margin-bottom: 0;
	}
	.top-menu ul li {
		margin-bottom: 0;
	}
	.search {
		order: 3;
	}
	.blockquote {
		max-width: 400px;
	}
}

@media (width: 568px) and (orientation: landscape) {
	section.main {
		background: none;
	}
	.blockquote {
		max-width: 500px;
	}
}

@media (min-width: 640px) {
	.top-menu {
		margin: 0 40px 0 auto;
	}
	section.main {
		background-position: 70vw 30vh;
	}
}
