$page-bg: #f6f8f9;
$white-bg: #fff;

$regular-text: #000;
$sub-text: #b7adad;
$highlighted: #ff7157;
$link: #a6b7ed;

$search-line: #dedede;
$gray-line: #f1f1f1;
$blue-line: #e8f4fc;

$base-button: #5eb5e6;
$base-errows: #1420f1;

$green: #2bcd71;
$yellow: #f1c40f;
$purple: #9b58b6;