* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.modal-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#cfdde8, #87a5c0);
}

.modal-content {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 480px;
}

.message-tab {
    width: 100%;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background: #6a96d8;
}

.message-name {
    display: flex;
    align-items: center;
}

.message-name .status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
}

.message-name h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
}

.message-close {
    width: 15px;
    height: 15px;
    background: url('img/close.svg') no-repeat center;
    cursor: pointer;
}

.message-wrapper {
    height: 100%;
    padding: 0 20px;
    background: #fff;
}

.message-history {
    display: flex;
    flex-direction: column;
}

.date {
    line-height: 55px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #aaabae;
    position: relative;
}

.date::before,
.date::after {
    content: "";
    display: block;
    width: 37%;
    height: 1px;
    background: #aaabae;
    position: absolute;
    top: 26px;
}

.date::before {
    left: 0;
}

.date::after {
    right: 0;
}

.message-box {
    margin-bottom: 20px;
}

.message-box.inbox {
    align-self: flex-end;
}

.message-box .time {
    margin-bottom: 5px;
    color: #aaabae;
}

.message-box .text {
    width: 270px;
    padding: 10px;
    border-radius: 0 3px 3px;
    position: relative;
}

.sent .text {
    background: #e6edf6;
}

.sent .text::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-right: 10px solid #e6edf6;
    position: absolute;
    top: 0;
    left: -10px;
}

.inbox .text {
    background: #f2f2f2;
}

.inbox .text::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #e6edf6;
    position: absolute;
    top: 0;
    right: -10px;
}

.inbox .news {
    background: #ffc2c1;
}

.inbox .news::before {
    display: none;
}

.send-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    position: relative;
}

.send-message::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #aaabae;
    position: absolute;
    top: 0;
    left: 0;
}

.send-message form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.send-message textarea,
.send-message input {
    border: none;
    background: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.send-message textarea {
    width: 80%;
}

.send-message input[type="submit"] {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6a96d8;
    cursor: pointer;
}
