.feedbacks-item {
  .comments {
    padding: 20px;
    border: 1px solid $gray-line;
    margin-bottom: 35px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 30px solid $gray-line;
      border-right: 30px solid transparent;
      position: absolute;
      left: -1px;
      bottom: -30px;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 28px solid $white-bg;
      border-right: 28px solid transparent;
      position: absolute;
      left: 0px;
      bottom: -28px;
    }
  }

  .feedbacks-details {
    display: flex;

    p {
      display: flex;
      flex-direction: column;
    }

    span {
      color: $sub-text;
      font-weight: 400;
    }
  }

  img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}