* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.modal-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8ebe9;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 3em 2em;
}

article {
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
}

aside {
    width: 100%;
    height: 100%;
    background: url('img/background.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3em;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

header a {
    color: #999;
}

header a.back {
    padding-left: 25px;
    margin-bottom: 1em;
    position: relative;
}

header a.back::before {
    content: "";
    display: block;
    width: 20px;
    height: 15px;
    background: url('img/arrow-back.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: 0;
}

header a.active {
    color: #000;
}

header ul {
    list-style: none;
}

h1.post-title {
    max-width: 60%;
    margin-bottom: 1em;
}

p.post-info {
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    margin-bottom: 1em;
}

.media .video-tab {
    width: 180px;
    position: relative;
    margin-bottom: 1em;
}

.media .video-tab::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url('img/play.svg') no-repeat center rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    cursor: pointer;
}

.media video {
    width: 180px;
    height: 115px;
}

.media a.more {
    display: inline-block;
    padding-right: 25px;
    margin-bottom: 1em;
    position: relative;
    font-weight: 500;
}

.media a.more::after {
    content: "";
    display: block;
    width: 20px;
    height: 15px;
    background: url('img/arrow-forward.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 2px;
    right: 0;
}

.text p {
    line-height: 1.5;
}

@media (min-width: 375px) and (orientation: portrait) {
    .modal-tab {
        height: 100vh;
    }
}



@media (min-width: 568px) {
    header {
        flex-direction: row;
    }
    header ul {
        display: flex;
    }
    header li {
        margin-left: 1em;
    }
}

@media (min-width: 768px) {
    article {
        padding: 3em 6em;
    }
    .post-content {
        display: flex;
    }
    .post-content div {
        width: 50%;
    }
    .media .video-tab {
        margin: 0.5em 0;
    }
    .text p {
        line-height: 1.8;
    }
}

@media (min-width: 1024px) {
    html, body {
        width: 100%;
        height: 100%;
    }
    .modal-tab {
        width: inherit;
        height: inherit;
    }
    .modal-content {
        width: 1000px;
        height: 650px;
    }
    main {
        flex-direction: row-reverse;
        width: inherit;
        height: inherit;
        margin: 0;
    }
    aside {
        position: relative;
        width: 360px;
        height: inherit;
    }
    article {
        width: 640px;
        height: inherit;
        padding: 175px 100px 100px;
    }
    header {
        width: 1000px;
        padding: 35px;
        margin: 0;
        position: absolute;
        top: 0;
        left: -360px;
    }
}
